.profile {
	margin: 50px auto;
	background-color: #fff;
	position: relative;
	padding: 15px;
	width: 500px;
	background-color: @profileBG;
	&__top {
		position: relative;
		margin-bottom: 20px;
	}
	&__avatar {
		width: 200px;	
		height: 200px;
		margin: auto;
		border-radius: 3px;
		overflow: hidden;
		@media (max-width: @xs) {
			width: 180px;
			height: 180px;
		}
	}
	&__edit {
		width: 50px;
		height: 50px;
		position: absolute;
		top: 0;
		right: 0;
	}
	&__fieldset {
		display: flex;
		flex-direction: column;
		text-align: center;
		label {
			.bold();
			text-transform: uppercase;
		}
		input {
			text-align: center;
			font-style: italic;
			&:disabled{
				background-color: @desabled;
			}
		}
	}
	&__star {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 50px;
		height: 50px;
	}
	&__star-label img {
		filter: invert(.5);
	}
	&__star-input {
		
	}
	&__close {
		position: absolute;
		left: 0;
		top: 0;
		width: 50px;
		height: 50px;
		&:before {
			content: '';
			display: block;
			height: 2px;
			top: 50%;
			transform: translate(0, -50%) rotate(-45deg);
			background-color: black;
		}
		&:after {
			content: '';
			display: block;
			height: 2px;
			top: 50%;
			transform: translate(0, -120%) rotate(45deg);
			background-color: black;
		}
	}
	&__save {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 50px;
		height: 50px;
	}

	&__bottom {}

	@media (max-width: @sm) {
		width: 100%;
		margin: 0;
		height: 100vh;
		overflow: auto;
	}
}
.profile__star-input:focus + .profile__star-label img {
	outline: 5px auto -webkit-focus-ring-color;
}
.profile__star-input:checked + .profile__star-label img {
	filter: invert(0);
}